body {
background-color: pink;
}

.button-level {
}

#level-1 {
  
}

#buttons {
    position: relative;
    z-index: 1;
    padding: 10px;
    padding-bottom: 50px;
    width: 325px;
    height: 325px;
    border: 1px solid #e81454;
    border-radius: 50%;
    margin: 0 auto;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

#bg-horizon{
    border: 1px solid black;
    width: 100%;
    height: 100px;
    z-index: -1;
    margin-top: 200px;
    background-color: black;
    overflow: hidden;

}

#bg-vertical {

}

.stripe {
    display: flex;
    position: relative;
}

#level-2 {
  margin-top: 110px;
}

#level-3 {
  margin-top: 110px;
}

.simon-button {
  width: 0;
  height: 0;
}

#button-1 {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
  margin-left: 110px;
}

#button-2 {
  display: inline-block;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 100px solid red;
}

#button-3 {
  display: inline-block;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 100px solid red;
  margin-left: 120px;
}

#button-4 {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid red;
  margin-left: 110px;
}

@keyframes light-up-top {
    0% {border-bottom: 100px solid red;} 
    50% {border-bottom: 100px solid #fc3272;} 
    100% {border-bottom: 100px solid red;}
}

@keyframes light-up-left {
    0% {border-right: 100px solid red;} 
    50% {border-right: 100px solid #fc3272;} 
    100% {border-right: 100px solid red;}
}

@keyframes light-up-right {
    0% {border-left: 100px solid red;} 
    50% {border-left: 100px solid #fc3272;} 
    100% {border-left: 100px solid red;}
}

@keyframes light-up-bottom {
    0% {border-top: 100px solid red;} 
    50% {border-top: 100px solid #fc3272;} 
    100% {border-top: 100px solid red;}
}

.info-text {
    position: absolute;
    display: inline;
    z-index: 2;
}

#seq-length {
}

#current-level {
}



